<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Booking Page </title>
</head>
<body>
  <h1> Booking Page </h1>

  <div style="margin-bottom: 5px; ">
    <a style="text-decoration: none;" href="/">
      <button>Event Page</button>
    </a>
    <a style="text-decoration: none;" href="/client">
      <button>Client Page</button>
    </a>
  </div>

  <h2> List of Bookings</h2>
  <div>
    {% if bookings %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Client ID</th>
          <th>Event ID</th>
          <th>Seat ID</th>
          <th>Booking Status</th>
          <th>Invoice ID</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
        <tr>
          <td>{{ booking.booking_id }}</td>
          <td>{{ booking.client_id }}</td>
          <td>{{ booking.event_id }}</td>
          <td>{{ booking.seat_id }}</td>
          <td>{{ booking.booking_status }}</td>
          <td>{{ booking.invoice_id }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    {% else %}
      <p> No Bookings Available</p>
    {% endif %}
  </div>
</body>
</html>